* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  outline-style: none;
  margin: 0;
  box-sizing: border-box;
}

$white:      #fdfdfd;
$off-white:  #f3f3f3;
$light-grey: #ececec;
$dark-grey:  #191919;
$green:      #0bca48;
$dark-green: darken(#0bca48, 10%);
$lime:       #00e508;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    color: inherit;
    outline-style: none;
  }
}

p, h1, h2, h3, h4, h5, h6 { line-height: 1.5 }

h1, .h1 { font-size: 3rem }
h2, .h2 { font-size: 2rem }
h3, .h3 { font-size: 1.5rem }
h4, .h4 { font-size: 1rem }
h5, .h5 { font-size: 0.8rem }
h6, .h6 { font-size: 0.6rem }

@media (min-width: 40em) {
  .sm-h1 { font-size: 3rem }
  .sm-h2 { font-size: 2rem }
  .sm-h3 { font-size: 1.5rem }
  .sm-h4 { font-size: 1rem }
  .sm-h5 { font-size: 0.8rem }
  .sm-h6 { font-size: 0.6rem }
}
  
@media (min-width: 52em) {
  .md-h1 { font-size: 3rem }
  .md-h2 { font-size: 2rem }
  .md-h3 { font-size: 1.5rem }
  .md-h4 { font-size: 1rem }
  .md-h5 { font-size: 0.8rem }
  .md-h6 { font-size: 0.6rem }
}
  
@media (min-width: 64em) {
  .lg-h1 { font-size: 5rem }
  .lg-h2 { font-size: 2rem }
  .lg-h3 { font-size: 1.5rem }
  .lg-h4 { font-size: 1rem }
  .lg-h5 { font-size: 0.8rem }
  .lg-h6 { font-size: 0.6rem }
}

@media (min-width: 52em) {
  .md-justify-end { justify-content: flex-end }
}
  

.ff-heading {
  font-family: "Futura", "Futura LT", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

.extra-bold {
  @extend .ff-heading;
  font-weight: 800;
}

.bg-white      { background-color: $white }
.bg-off-white  { background-color: $off-white }
.bg-light-grey { background-color: $light-grey }
.bg-dark-grey  { background-color: $dark-grey }
.bg-black      { background-color: black }
.bg-green      { background-color: $green }
.bg-dark-green { background-color: $dark-green }
.bg-lime       { background-color: $lime }

.color-white      { color: $white }
.color-dark-grey  { color: $dark-grey }
.color-black      { color: black }
.color-dark-green { color: $dark-green }
.color-green      { color: $green }
.color-lime       { color: $green }

.shadow-1 {
  box-shadow: 0 5px 20px rgba(black, 0.2);
}

.shadow-2 {
  box-shadow: 0 -5px 20px rgba(black, 0.2);
}

.button {
  cursor: pointer;
  display: inline-block;
  border-radius: 10em;
  padding: 0.5em 1em;
  transition: all 0.2s ease;
  border: none;

  &:hover {
    transform: scale(1.05);
  }
}

.pointer { cursor: pointer }

.bg-contain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.input-reset {
  appearance: none;
  border: none;
  background: none;
  border-bottom: 0.1em solid currentcolor;
  font-size: inherit;
  font-weight: inherit;
}

.asset-unit-render {
  background-image: url(/images/unit_render_crop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  margin-top: -4em;
  margin-bottom: -8em;
}

.asset-unit-render-2 {
  background-image: url(/images/unit_render_2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#menu {
  left: 0;
  transform: translate(-100%, 100%);
  transition: all 300ms ease;

  &.open {
    transform: translateY(100%);
  } 
}

.square {
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
  }
}

.hamburger {
  opacity: 0.8;
  transition: all 0.2s ease;

  &:hover {
    opacity: 1;
  }
}

.grow {
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}
