<footer class="p3 bg-green h5 color-white">
  <div class="flex justify-around items-center">
    <div class="md-flex flex-wrap">
      <a href="#" class="bold block m1">Press Inquiries</a>
      <a href="/terms" class="bold block m1">Terms of Use</a>
      <a href="/privacy" class="bold block m1">Privacy Policy</a>
    </div>
    <a href="/">
      <%= image_tag "logo_white.png", class: "mx3", style: "height: 4em" %>
    </a>
    <div class="md-flex flex-wrap">
      <a href="https://facebook.com/applanter" class="bold block m1">Facebook</a>
      <a href="#" class="bold block m1">YouTube</a>
      <a href="https://instagram.com/applant_" class="bold block m1">Instagram</a>
      <a href="https://twitter.com/applant_" class="bold block m1">Twitter</a>
      <a href="#" class="bold block m1">Email</a>
    </div>
  </div>
</footer>
