<footer class="p3 bg-green h5 color-white">
  <div class="flex justify-center items-center">
    <a href="#" class="bold mx1">Press inquiries</a>
    <a href="#" class="bold mx1">Terms of Use</a>
    <a href="#" class="bold mx1">Privacy Policy</a>
    <%= image_tag "logo_white.png", class: "mx3", style: "height: 4em" %>
    <a href="#" class="bold mx1">Facebook</a>
    <a href="#" class="bold mx1">YouTube</a>
    <a href="#" class="bold mx1">Instagram</a>
    <a href="#" class="bold mx1">Twitter</a>
    <a href="#" class="bold mx1">Email</a>
  </div>
</footer>
