<nav class="bg-green p2 flex justify-between items-center shadow-1 relative z4">
  <%= image_tag "hamburger.svg", class: "pointer mx1", style: "height: 1em" %>
  <a href="#" class="button bg-lime circle bold caps">
    Join Here
  </a>
</nav>
