<%= partial "nav", locals: { url: "/atree" } %>

<header class="flex flex-column justify-center relative bg-cover" style="background-image: url(/images/kitchen.jpg); height: 60vh">
  <div class="absolute top-0 bottom-0 right-0 left-0 bg-green z1" style="opacity: 0.4"></div>
  <div class="mx-auto px2 col-12 center md-left-align z2" style="max-width: 64em">
    <h1 class="extra-bold h2 md-h1">Growing plants, made easy.</h1>
    <h3>aTree by Applant</h3>
  </div>
</header>

<section class="bg-white color-green relative what-section p3">
  <div class="absolute top-0 left-0 right-0">
    <div class="mx-auto justify-end col-12 flex" style="max-width: 48em">
      <div class="m2 pointer">WHAT</div>
      <div id="specs-nav" class="m2 pointer color-black">SPECS</div>
    </div>
  </div>

  <div class="mx-auto py4 col-12" style="max-width: 48em">
    <h3 class="extra-bold mx2 mb3 center md-left-align">What if we told you that...</h3>
    <div class="flex flex-wrap justify-between">
      <div class="col-12 sm-col-4 px2">
        <h3 class="extra-bold mb2 center md-left-align">With this unit</h3>
        <div class="bg-green col-12 mb3 sm-m0 square">
        </div>
      </div>
      <div class="col-12 sm-col-4 px2">
        <h3 class="extra-bold mb2 center md-left-align">You can grow</h3>
        <div class="bg-green col-12 mb3 sm-m0 square">
        </div>
      </div>
      <div class="col-12 sm-col-4 px2">
        <h3 class="extra-bold mb2 center md-left-align">Every month!</h3>
        <div class="bg-green col-12 mb3 sm-m0 square">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-green color-white relative what-section">
  <div class="col-12 flex flex-wrap items-center mx-auto" style="max-width: 64em">
    <div class="xs-hide sm-hide bg-cover absolute left-0 top-0 bottom-0" style="width: 50vw; opacity: 0.8; background-image: url(/images/local.jpg)">
    </div>
    <div class="col-12 md-col-6"></div>

    <div class="py4 px3 md-px4 col-12 md-col-6">
      <h3 class="extra-bold mb2 center md-left-align">As local as it gets</h3>
      <p>
        aTree uses vertical farming techniques that grows plants with ease in less than 1sqm fitting snug in your home or apartment. aTree uses a form of hydroponics called gravity fed irrigation - which basically means the roots are suspended in air while water consistently drips through the root chamber, providing the perfect amount of nutrients to your plants roots.
      </p>
    </div>
  </div>
</section>

<section class="bg-white color-green what-section p3">
  <div class="mx-auto py4 col-12" style="max-width: 64em">
    <h3 class="extra-bold mx2 mb3 center md-left-align">Steps to grow!</h3>
    <div class="flex flex-wrap justify-between">
      <div class="px2 col-12 sm-col-3 mb3 sm-m0">
        <div class="bg-green mb2 col-12 square">
        </div>
        <h4 class="extra-bold">Pump Daily</h4>
        <p class="color-black">
          Pumping aTree daily will en- sure perfect water circulation throughout the system
        </p>
      </div>
      <div class="px2 col-12 sm-col-3 mb3 sm-m0">
        <div class="bg-green mb2 col-12 square">
        </div>
        <h4 class="extra-bold">Water Weekly</h4>
        <p class="color-black">
          As plants drink wtaer, it’s im- portant to check water levels
        </p>
      </div>
      <div class="px2 col-12 sm-col-3 mb3 sm-m0">
        <div class="bg-green mb2 col-12 square">
        </div>
        <h4 class="extra-bold">Prune periodically</h4>
        <p class="color-black">
          Plants just grow, so when you have some time, give them a prune and make them pretty.
        </p>
      </div>
      <div class="px2 col-12 sm-col-3 mb3 sm-m0">
        <div class="bg-green mb2 col-12 square">
        </div>
        <h4 class="extra-bold">Harvest when ready</h4>
        <p class="color-black">
          Simply harvest when they are ready! Enjoy the fruit & veg of your labour.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-white color-green py4 px3 md-px4 what-section">
  <h3 class="extra-bold center mb3">No more overwatering / underwatering. No more dead plants.</h3>
  <p class="color-black mx-auto col-12" style="max-width: 36em">
    As long as there’s water in the aTree’s top resovoir, water will constantly drip through the root chamber providing plant roots with a moist, nutrient rich environ- ment creating effortless watering.
  </p>
</section>

<section class="bg-green color-white p2 what-section">
  <div class="col-12 flex flex-wrap items-center mx-auto" style="max-width: 64em">
    <div class="col-12 md-col-6">
    </div>
    <div class="py4 px2 col-12 md-col-6">
      <h3 class="extra-bold mb2 center md-left-align">It’s super simple to get started with Applant.</h3>
      <p>
        Watch as Adrian, a man who hasn’t had the biggest luck with growing plants, learn about vertical Gardening. He nails growing his lettuce on his first try!
      </p>
    </div>
  </div>
</section>

<section class="bg-white color-green p2 what-section">
  <div class="col-12 flex flex-wrap items-center mx-auto" style="max-width: 64em">
    <div class="bg-contain col-12 md-col-6" style="height: 24em; background-image: url(/images/vegetables.jpg)">
    </div>
    <div class="py4 px2 col-12 md-col-6">
      <div>
        <h3 class="extra-bold mb2 center md-left-align">More than just a perfect head of lettuce.</h3>
        <p class="color-black mb3">
          From an endless supply of herbs to butternut pumpkins to juicy strawberries to spice up any cocktail, you won’t believe the things you’ll be able to grow! The aTree system is the new way to grow everything you love. Get ready to fall in love with your favourite foods all over again.
        </p>
        <a href="#" class="button bg-green bold color-white">
          What you can grow with applant
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-white color-green specs-section relative" style="display: none">
  <div class="absolute top-0 col-12">
    <div class="mx-auto justify-end col-12 flex" style="max-width: 48em">
      <div id="what-nav" class="m2 pointer color-black">WHAT</div>
      <div class="m2 pointer">SPECS</div>
    </div>
  </div>

  <div class="flex flex-wrap items-center justify-around px2 py4 color-black">
    <div class="col-12 md-col-3 center mb3 md-m0">
      <%= image_tag "3d_drawing.png", height: '400px' %>
    </div>
    <div class="col-12 md-col-6 flex flex-wrap">
      <div class="px2 col-12 md-col-6">
        <p class="bold">Size</p>
        <p>W: 700cm (275.5 in), L: 700cm (275.5 in), H: 1.49m (586.6 in)</p>
        <p>Grow size: 6 x 20cm (7.9 in) x 300cm (118.1 in)</p>
        <p>Weight: 14.5kg or 32lbs</p>
        <br/>
        <p class="bold">Pump time</p>
        <p>Pump 2.5 gal/min</p>
        <p>9L per minute</p>
        <br/>
        <p class="bold">Material</p>
        <p>UV-stabilized, food grade polycarbonate</p>
        <br/>
        <p class="bold">Temperature Range</p>
        <p>Idle plant weather 18 degrees or 64 Fahrenheit - 25 degrees or 77 Fahrenheit</p>
        <br/>
        <p class="bold">Water Capacity</p>
        <p>40 Litres</p>
        <p>10.5 Gallons</p>
        <br/>
        <p class="bold">Plant Capacity</p>
        <p>30 Plants</p>
        <br/>
      </div>
      <div class="px2 col-12 md-col-6">
        <p class="bold">Add-ons</p>
        <p>Perspex greenhouse film</p>
        <br/>
        <p class="bold">Light Duration</p>
        <p>5 hours for leafy green as a minimum</p>
        <p>6 hours for for optimum flowering plants</p>
        <br/>
        <p class="bold">In the box</p>
        <p>1 x aTree lid</p>
        <p>1 x aTree top</p>
        <p>1 x aTree top tank</p>
        <p>2 x aTree germination trays</p>
        <p>2 x aTree collars</p>
        <p>5 x aTree trunks</p>
        <p>1 x aTree base</p>
        <p>30 x aTree pots</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light-grey flex justify-center items-center py4 specs-section" style="display: none">
  <%= image_tag "joule.png", class: 'col-12', style: 'max-width: 64em' %>
</section>
