<%= partial "nav", locals: { url: "/atree" } %>

<header class="flex flex-column justify-center relative bg-cover" style="background-image: url(/images/kitchen.jpg); height: 60vh">
  <div class="absolute top-0 bottom-0 right-0 left-0 bg-green z1" style="opacity: 0.4"></div>
  <div class="mx-auto px2 col-12 center md-left-align z2" style="max-width: 64em">
    <h1 class="extra-bold h2 md-h1">Growing plants, made easy.</h1>
    <h3>aTree by Applant</h3>
  </div>
</header>

<section class="bg-white color-green relative what-section p3">
  <div class="absolute top-0 left-0 right-0">
    <div class="mx-auto justify-end col-12 flex" style="max-width: 48em">
      <div class="p2 bg-green color-white pointer">WHAT</div>
      <div id="specs-nav" class="p2 pointer color-black">SPECS</div>
    </div>
  </div>

  <div class="mx-auto py4 col-12" style="max-width: 48em">
    <h3 class="extra-bold mx2 mb3 center md-left-align">What if we told you that...</h3>
    <div class="flex flex-wrap justify-between">
      <div class="col-12 sm-col-4 px2">
        <h3 class="extra-bold mb2 center md-left-align">With this unit</h3>
        <div class="bg-green col-12 mb3 sm-m0 square bg-cover" style="background-image: url(/images/unit_white.jpg)">
        </div>
      </div>
      <div class="col-12 sm-col-4 px2">
        <h3 class="extra-bold mb2 center md-left-align">You can grow</h3>
        <div class="bg-green col-12 mb3 sm-m0 square bg-cover" style="background-image: url(/images/unit_green.jpg)">
        </div>
      </div>
      <div class="col-12 sm-col-4 px2">
        <h3 class="extra-bold mb2 center md-left-align">Every month!</h3>
        <div class="bg-green col-12 mb3 sm-m0 square bg-cover" style="background-image: url(/images/holding_plant.jpg)">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-green color-white relative what-section">
  <div class="col-12 flex flex-wrap items-center mx-auto" style="max-width: 64em">
    <div class="xs-hide sm-hide bg-cover absolute left-0 top-0 bottom-0" style="width: 50vw; opacity: 0.8; background-image: url(/images/local.jpg)">
    </div>
    <div class="col-12 md-col-6"></div>

    <div class="py4 px3 md-px4 col-12 md-col-6">
      <h3 class="extra-bold mb2 center md-left-align">As local as it gets</h3>
      <p>
        aTree uses vertical farming techniques that grows plants with ease in less than 1sqm fitting snug in your home or apartment. aTree uses a form of hydroponics called gravity fed irrigation - which basically means the roots are suspended in air while water consistently drips through the root chamber, providing the perfect amount of nutrients to your plants roots.
      </p>
    </div>
  </div>
</section>

<section class="bg-white color-green what-section p3">
  <div class="mx-auto py4 col-12" style="max-width: 64em">
    <h3 class="extra-bold mx2 mb3 center md-left-align">Steps to grow!</h3>
    <div class="flex flex-wrap justify-between">
      <div class="px2 col-12 sm-col-3 mb3 sm-m0">
        <div class="bg-green mb2 col-12 square">
          <video autoplay loop width="100%" class="absolute top-0" style="">
            <source src="videos/plant.mp4"/>
          </video>
        </div>
        <h4 class="extra-bold">Plant Husk</h4>
        <p class="color-black">
          Place your plant husk in one of the 30 grow spaces along the trunk.
        </p>
      </div>
      <div class="px2 col-12 sm-col-3 mb3 sm-m0">
        <div class="bg-green mb2 col-12 square">
          <video autoplay loop width="100%" class="absolute top-0" style="">
            <source src="videos/water.mp4"/>
          </video>
        </div>
        <h4 class="extra-bold">Add Water</h4>
        <p class="color-black">
          Fill the reservoir at the base of the unit with water.
        </p>
      </div>
      <div class="px2 col-12 sm-col-3 mb3 sm-m0">
        <div class="bg-green mb2 col-12 square">
          <video autoplay loop width="100%" class="absolute top-0" style="">
            <source src="videos/pump.mp4"/>
          </video>
        </div>
        <h4 class="extra-bold">Pump</h4>
        <p class="color-black">
          Use the foot pedal at the base to circulate water up the trunk.
        </p>
      </div>
      <div class="px2 col-12 sm-col-3 mb3 sm-m0">
        <div class="bg-green mb2 col-12 square">
          <video autoplay loop width="100%" class="absolute top-0" style="">
            <source src="videos/harvest.mp4"/>
          </video>
        </div>
        <h4 class="extra-bold">Harvest</h4>
        <p class="color-black">
          When fully-fledged, harvest your plants and enjoy the labour of your work.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-white center color-green py4 px3 md-px4 what-section">
  <h3 class="extra-bold mb3">No more overwatering / underwatering. No more dead plants.</h3>
  <p class="color-black mx-auto col-12" style="max-width: 36em">
    As long as there’s nutrient-rich water in aTree’s top, water will fall through aTree’s trunk where plant roots hang, creating a consistently moist environment, feeding plants directly. This way, plants never get too little or too much water, allowing the roots to breathe whilst absorbing nutrients in bite-size pieces. 
  </p>
</section>

<section class="bg-green color-white p2 what-section">
  <div class="col-12 flex flex-wrap items-center mx-auto" style="max-width: 64em">
    <div class="col-12 md-col-6">
    </div>
    <div class="py4 px2 col-12 md-col-6">
      <h3 class="extra-bold mb2 center md-left-align">It’s super simple to get started with Applant.</h3>
      <p>
        Watch as Adrian, a man who hasn’t had the biggest luck with growing plants, learn about vertical Gardening. He nails growing his lettuce on his first try!
      </p>
    </div>
  </div>
</section>

<section class="bg-white color-green p2 what-section">
  <div class="col-12 flex flex-wrap items-center mx-auto" style="max-width: 64em">
    <div class="bg-contain col-12 md-col-6" style="height: 24em; background-image: url(/images/vegetables.jpg)">
    </div>
    <div class="py4 px2 col-12 md-col-6">
      <div>
        <h3 class="extra-bold mb2 center md-left-align">More than just a perfect head of lettuce.</h3>
        <p class="color-black mb3">
          From an endless supply of herbs, to plump pumpkins, to bursting strawberries, you won’t believe the things you can grow! aTree grows food in cities. Get ready to see the miracle of food growing before your eyes.
        </p>
        <a href="/growing" class="button bg-green bold color-white">
          What you can grow with applant
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-white color-green specs-section relative" style="display: none">
  <div class="absolute top-0 col-12">
    <div class="mx-auto justify-end col-12 flex" style="max-width: 48em">
      <div id="what-nav" class="p2 pointer color-black">WHAT</div>
      <div class="p2 bg-green color-white pointer">SPECS</div>
    </div>
  </div>

  <div class="flex flex-wrap items-center justify-around px2 py4 color-black">
    <div class="col-12 md-col-3 center mb3 md-m0">
      <%= image_tag "3d_drawing.png", height: '400px' %>
    </div>
    <div class="col-12 md-col-6 flex flex-wrap">
      <div class="px2 col-12 md-col-6">
        <p class="bold">Size</p>
        <p>W: 700cm (275.5 in), L: 700cm (275.5 in), H: 1.49m (586.6 in)</p>
        <p>Grow size: 6 x 20cm (7.9 in) x 300cm (118.1 in)</p>
        <p>Weight: 14.5kg or 32lbs</p>
        <br/>
        <p class="bold">Pump time</p>
        <p>Pump 2.5 gal/min</p>
        <p>9L per minute</p>
        <br/>
        <p class="bold">Material</p>
        <p>UV-stabilized, food grade polycarbonate</p>
        <br/>
        <p class="bold">Temperature Range</p>
        <p>Idle plant weather 18 degrees or 64 Fahrenheit - 25 degrees or 77 Fahrenheit</p>
        <br/>
        <p class="bold">Water Capacity</p>
        <p>40 Litres</p>
        <p>10.5 Gallons</p>
        <br/>
        <p class="bold">Plant Capacity</p>
        <p>30 Plants</p>
        <br/>
      </div>
      <div class="px2 col-12 md-col-6">
        <p class="bold">Add-ons</p>
        <p>Perspex greenhouse film</p>
        <br/>
        <p class="bold">Light Duration</p>
        <p>5 hours for leafy green as a minimum</p>
        <p>6 hours for for optimum flowering plants</p>
        <br/>
        <p class="bold">In the box</p>
        <p>1 x aTree lid</p>
        <p>1 x aTree top</p>
        <p>1 x aTree top tank</p>
        <p>2 x aTree germination trays</p>
        <p>2 x aTree collars</p>
        <p>5 x aTree trunks</p>
        <p>1 x aTree base</p>
        <p>30 x aTree pots</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light-grey flex justify-center items-center py4 specs-section" style="display: none">
  <%= image_tag "joule.png", class: 'col-12', style: 'max-width: 64em' %>
</section>
