<%= partial "nav", locals: { url: "/growing" } %>

<header class="flex flex-column justify-center bg-cover relative" style="background-image: url(/images/growing_possibilities.jpg); height: 60vh">
  <div class="absolute top-0 bottom-0 right-0 left-0 bg-green z1" style="opacity: 0.6"></div>
  <div class="mx-auto px2 z2 col-12 center" style="max-width: 64em">
    <h1 class="extra-bold h2 md-h1">Let's get growing</h1>
  </div>
</header>

<section class="bg-white color-black">
  <div class="col-12 mx-auto py4 px3" style="max-width: 64em">
    <h3 class="color-green extra-bold">So, where do we start?</h3>
    <p class="mb3">
      It's so simple to get growing with Applant. Whether you’re setting aTree up in your backyard, home, or office, we’ve got you covered. Plant aTree, add water and nutrients, add plants to aTree’s trunk, and that’s it! Time to watch your plants grow. We’ve got you covered when it comes to the tools and resources to get you growing!
    </p>

    <h3 class="color-green extra-bold">Preparation & set-up</h3>
    <p class="mb3">
      aTree comes with everything needed to start growing up, detailed with step-by-step guides to help all growers get through the learning curves. Meanwhile, Applant will send seeds, seed starter kits, and nutrients, amongst other resources, to make growing so easy.
    </p>

    <h3 class="color-green extra-bold">Germinating & planting</h3>
    <p class="mb3">
      Place seedlings into aTree’s trunk pots and watch them grow!<br/><br/>
      To germinate a seed, place the seed into a paper towel and then wet the towel. Fold it in half and place it into a ziplock bag to create humidity, and then place it into one of aTree’s germination trays. How easy!<br/><br/>
      After 3–6 days, roots will begin to sprout from the seed. Transplant the seed into a grow pod, that we provide, and leave it in a germination tray for the roots to develop further.<br/><br/>
      Once the roots start growing out from the bottom, it’s time to add it to aTree!
    </p>

    <h3 class="color-green extra-bold">Harvesting</h3>
    <p>
      While aTree grows plants ready to eat right out of the trunk, they’re still attached to their roots.<br/><br/>
    </p>
    <ol>
      <li>Wash your hands and prepare clean containers ready to receive the plants.</li>
      <li>Mist the plants with fresh water before harvesting and, occasionally, during holding.</li>
      <li>Lift the entire plant out of the trunk. Allow the nutrient-rich solution to drain away and place the plant in the prepared container.</li>
    </ol><br/>
    <p class="mb3">
      aTree pumped completely will provide enough water to provide 2 days’ worth of rain. Ensure aTree has water in its top reservoir. We encourage daily pumping; however, pumping every 2 days will also be fine.<br/><br/>
      Want more details? All of our recipes, including nutrient requirements, pH levels, lighting solutions and more will be available from our Applanters, in order to get growing.
    </p>

    <h3 class="color-green extra-bold">Cleaning</h3>
    <p>
      Simply drain the water out of the bottom reservoir and disassemble the aTree trunk to give it a quick wipe down. To clean your disassembled trunk sections, you can place them in a bathtub, add soapy water to soak for 30 minutes to scrub away any little algae or mineral build-up; e.g. white, crusty residue. To clean minor stains, use a small brush, like a toothbrush, to brush away any imperfections.
    </p>
  </div>
</section>
