<%= partial "nav" %>

<header class="flex flex-column justify-center bg-cover relative" style="background-image: url(/images/growing_possibilities.jpg); height: 60vh">
  <div class="absolute top-0 bottom-0 right-0 left-0 bg-green z1" style="opacity: 0.6">
  </div>
  <div class="mx-auto px2 z2" style="max-width: 64em; width: 100%">
    <h2 class="extra-bold" style="font-size: 3rem">How do I start growing with Applant?</h2>
  </div>
</header>

<section class="bg-white color-black">
  <div class="col-12 mx-auto py4 px2" style="max-width: 64em">
    <h3 class="color-green extra-bold">How do i start growing with Applant?</h3>
    <p class="mb3">
      It's so simple to get started with Applant. Whether you're setting aTree up in your backyard, in your home or even at work, Applant's got you covered. What aTree needs to work are seeds, nutrients, water, and a light source. We'll send you or the tools and resources to get you started all you need to do is to add and pump the water.
    </p>

    <h3 class="color-green extra-bold">Preparation & set up</h3>
    <p class="mb3">
      To get started,place aTree in a location where there is access to a light source. Add water to aTree's top and garnish with Applant nutrient's. Check the water, and pump until you start hearing the water rain down the root structure.
    </p>

    <h3 class="color-green extra-bold">Germinating & Planting</h3>
    <p class="mb3">
      Simply place your seedlings tucked into the aTree trunk and watch them grow!<br/><br/>
      To germinate seeds, place the seed in a paper towel and wet the towel. Fold it in half and place into a zip lock bag and place in aTree's germination tray.<br/><br/>
      After 3-6 days, root's will sprout from the seed. Transplant the seed into a Applant aPod and leave in gernination tray.<br/><br/>
      After root structure has been developed, add aPod into a root pot ready to grow!
    </p>

    <h3 class="color-green extra-bold">Growing time & water maintenance</h3>
    <p>
      There are certain optimum harvesting times for plants and vegetables:<br/><br/>
    </p>
    <ul>
      <li>One month: almost all leafy greens and herbs</li>
      <li>Two-three months: Flowering vegetables</li>
    </ul><br/>
    <p class="mb3">
      aTree pumped fully will have enough water built to rain for 2 days. Ensure aTree always has water in the top reservoir. We encourage daily pumping however 2 days will also be fine.<br/><br/>
      Want more details? All of our recipes including nutrient requirements, pH levels, light suggestions will be available for our Applanters to get growing.
    </p>

    <h3 class="color-green extra-bold">Harvesting</h3>
    <p>
      While aTree grows plants ready to eat right out of the trunk, they're attached to their roots.<br/><br/>
    </p>
    <ol class="mb3">
      <li>Prepare clean containers ready to receive the plant. Wash your hands.</li>
      <li>Mist the plants with fresh water before harvesting and occasionally during holding.</li>
      <li>Lift the entire plant out of the trunk. Allow the nutrient rich solution to drain away and place the plant in the prepared container.</li>
    </ol>

    <h3 class="color-green extra-bold">Cleaning</h3>
    <p>
      Simply drain the water out of the bottom reservoir and disassemble the aTree trunk to give it a quick wipe down. To clean your disassembled trunk sections; you can put them in a bathtub, add soapy water to soak for 30 minutes and scrub away any little algae or mineral build up i.e. white, crusty residue. To clean minor stains, use a small brush like a toothbrush to brush away the imperfections.<br/><br/>
    </p>
    <ul>
      <li>Standard pH</li>
      <li>Standard time to harvest</li>
      <li>Nutrients needed</li>
      <li>Sunlight required</li>
      <li>Temperature</li>
      <li>Humidity</li>
    </ul><br/><br/>
    <a class="underline color-green" href="https://www.fastcompany.com/3068407/inside-the-vertical-farm-growing-what-it-calls-the-worlds-first-post-organic-produce">
      https://www.fastcompany.com/3068407/inside-the-vertical-farm-growing-what-it-calls-the-worlds-first-post-organic-produce
    </a>
  </div>
</section>
