<section class="flex items-center justify-center center bg-green relative-hidden" style="height: 100vh">
  <div class="z2">
    <div class="mx-auto z2 col-12 mb3 p3" style="max-width: 20em">
      <%= image_tag "logo_white.svg", class: "col-12" %>
      <h2 class="h3 nowrap">aTree in your home</h2>
    </div>

    <div class="mx-auto col-12 extra-bold h3 mb3 left-align p3" style="max-width: 32em">
      <form
        class="inline"
        id="form-mailchimp"
        action="http://facebook.us13.list-manage.com/subscribe/post"
        method="POST"
        target="_blank">
        <input type="hidden" name="u" value="81ddcd3ff2b5be5e8ae664f18">
        <input type="hidden" name="id" value="4b766bd7dc">

        Sign up for your free Applant account. Grow with Applant and all it's features for free for a year!<br/><br/>
        I am
        <input
          class="input-reset border-bottom center color-white"
          style="width: 8em"
          name="MERGE1"
        />
        and my email is
        <input
          class="input-reset border-bottom center color-white"
          style="width: 8em"
          type="email"
          name="MERGE0"
        />
        .<br/><br/>
        How did you hear about Applant?<br/>
        <input
          class="input-reset border-bottom color-white col-12"
          name="MERGE3"
        /><br/><br/>
        What would you like to learn to grow?<br/>
        <input
          class="input-reset border-bottom color-white col-12"
          name="MERGE4"
        /><br/>
        <div class="mt3 center">
          <button
            class="button bg-white bold h3 color-green"
            type="submit">
            Sign me up!
          </button>
        </div>
      </form>
    </div>
  </div>

  <video autoplay loop width="100%" class="video-timelapse" style="opacity: 0.4; position: fixed; min-width: 155vh" poster="images/timelapse_thumb.png"> 
    <source src="/videos/timelapse.mp4"/>
  </video>
</section>
