<%= partial "nav" %>

<header class="flex flex-column justify-center bg-green" style="height: 60vh">
  <div class="mx-auto px2" style="max-width: 64em; width: 100%">
    <h2 class="extra-bold" style="font-size: 3rem">Terms of Use</h2>
  </div>
</header>

<section class="py4 px2 bg-white color-black">
  <div class="col-12 mx-auto" style="max-width: 64em">
    <p class="mt2 bold">1. Interpretation</p>
    <p>1.1 In these Terms:</p>
    <p>“Company” means [insert details]</p>
    <p>“Customer” means the purchaser of Goods from the Company.</p>
    <p>“Goods” means all goods sold and/or delivered by the Company to the Customer. “Terms” means these terms and conditions of sale.</p>
    <p class="mt2 bold">2. Application</p>
    <p>2.1 These Terms apply to all contracts for the sale of Goods by the Company.</p>
    <p>2.2 No amendment, alteration, waiver or cancellation of any of these Terms is binding on the Company unless confirmed by the Company in writing.</p>
    <p>2.3 The Customer acknowledges that no employee or agent of the Company has any right to make any representation, warranty or promise in relation to the Goods or the sale of the Goods other than as contained in these Terms.</p>
    <p class="mt2 bold">3. Prices</p>
    <p>3.1 Prices are determined at the time of order and, prior to payment of the deposit, are subject tochange without notice.</p>
    <p class="mt2 bold">4. Payment</p>
    <p>4.1 Payments are to be made to the Company without any deduction or discount other than as stated in these Terms or in the relevant invoice or statement.</p>
    <p>4.2 A deposit of 35% of the invoice price must be paid when placing an order.</p>
    <p>4.3 Where Goods are ordered with fabric selected by the Customer, the fabric must be paid for in full at the time the deposit is paid. 4.3 The balance of the invoice price must be paid in full before delivery.</p>
    <p>4.4 Interest is payable on all overdue accounts calculated on a daily basis at the rate of 1.5% per month as from the date due for payment until payment is received by the Company.</p>
    <p class="mt2 bold">5. Delivery</p>
    <p>5.1 The Customer must, within 5 days of being notified of their availability, collect or accept delivery of the Goods and pay the balance of the invoice price.</p>
    <p>5.2 If the Customer fails to collect the Goods or accept delivery within 21 days of being notified of their availability, the Company may terminate this contract, keep the deposit and resell the Goods.</p>
    <p>5.3 In addition to clause 4.4, the Company reserves the right to charge the Customer storage on goods not collected or delivered within 5 days of notification of their availability at the rate of $35.00 per week or part thereof.</p>
    <p>5.4 The Company reserves the right to deliver the Goods in whole or in instalments, as well as to deliver prior to the date for delivery and, in such event, the Customer must not refuse to take delivery of the Goods.</p>
    <p>5.5 Any failure on the part of the Company to deliver instalments within any specified time does not entitle the Customer to repudiate the contract with regard to the balance remaining undelivered.</p>
    <p class="mt2 bold">6. Title</p>
    <p>6.1 Legal and beneficial ownership of the Goods will not pass to the Customer until such time as the Goods have been paid in full in cash or cleared funds.</p>
    <p class="mt2 bold">7. Risk and Insurance</p>
    <p>7.1 The Goods are entirely at the risk of the Customer from the moment of delivery to the Customer’s point of delivery or on collection, even though title in the Goods has not passed to the Customer at that time.</p>
    <p>7.2 The Customer must, at its own expense, maintain the Goods and insure them for the benefit of the Company against theft, breakdown, fire, water and other risks as from the moment of delivery to the Customer and until title in the Goods has passed to the Customer.</p>
    <p class="mt2 bold">8. Inspection</p>
    <p>8.1 Unless the Customer has inspected the Goods and given written notice to the Company within 2 days after collection or delivery that the Goods do not comply with the relevant specifications or descriptions, the Goods are deemed to have been accepted in good order and condition.</p>
    <p class="mt2 bold">9. Cancellations</p>
    <p>9.1 No order may be cancelled, modified or deferred without the prior written consent of the Company (which is at the Company’s sole discretion). If such consent is given it is, at the Company’s election, subject to the Company being reimbursed all losses, including loss of profits, and paid a cancellation fee (being not less than 20% of the invoice price of the Goods).</p>
    <p class="mt2 bold">10. Limited Liability</p>
    <p>10.1 These Terms do not affect the rights, entitlements and remedies conferred by the Trade Practices Act 1974.</p>
    <p>10.2 The Company is not subject to, and the Customer releases the Company from, any liability (including but not limited to consequential loss or damage) because of any delay in delivery or fault or defect in the Goods. The Customer acknowledges that the Company is not:</p>
    <p>(a) responsible if the Goods do not comply with any applicable safety standard or similar regulation; and</p>
    <p>(b) liable for any claim, damage or demand resulting from such non-compliance.</p>
    <p>10.3 If any statutory provisions under the Trade Practices Act 1974 or any other statute apply to the contract between the Company and the Customer (C o n t r a c t) then, to the extent to which the Company is entitled to do so, the Company’s liability under the statutory provisions is limited, at the Company’s option, to:</p>
    <p>(a) replacement or repair of the Goods or the supply of equivalent Goods; or</p>
    <p>(b) payment of the cost of replacing or repairing the Goods or of acquiring equivalent goods; and in either case, the Company will not be liability for any consequential loss or damage or other direct or indirect loss or damage.</p>
    <p class="mt2 bold">11. Warranty</p>
    <p>11.1 All Goods supplied are covered by such warranties as are specified by the manufacturer and supplied subject to the product standards detailed by the manufacturer.</p>
    <p>11.2 On discovery of any defect in the Goods, the Customer must immediately notify the Company in writing of such defect. The Customer must not carry out any remedial work to alleged defective Goods without first obtaining the written consent of the Company to do so. 11.3 The provisions of any act or law (including but not limited to the Trade Practices Act 1974) implying terms, conditions and warranties, or any other terms, conditions and warranties which might otherwise apply to or arise out of the Contract are hereby expressly negatived and excluded to the full extent permitted by law.</p>
    <p>11.4 The Customer expressly acknowledges and agrees that it has not relied upon, and the Company is not liable for any advice given by the Company, its employees, agents or representatives in relation to the suitability for any purpose of the Goods.</p>
    <p class="mt2 bold">12. Display and Samples</p>
    <p>12.1 Any display product or sample inspected by the Customer is solely for the Customer’s convenience and does not constitute a sale by sample.</p>
    <p class="mt2 bold">13. Contract</p>
    <p>13.1 The terms of the Contract are wholly contained in these Terms and any other writing signed by both parties. The Contract is deemed to have been made at the Company’s place of business where an order was placed and any cause of action is deemed to have arisen there.</p>
    <p class="mt2 bold">15. Right to Enter Premises</p>
    <p>15.1 In any of the circumstances referred to in clause 14, the Customer:</p>
    <p>(a) authorises the Company by itself, its agents or representatives at all reasonable times, without notice, to enter onto (with force if reasonably necessary) and to remain in and on any premises where the Goods are located in order to collect the Goods, without being guilty of any manner of trespass; and</p>
    <p>(b) assigns to the Company all the Customer’s rights to enter onto and remain in and on such premises until all the Goods have been collected.</p>
    <p class="mt2 bold">16. Force Majeure</p>
    <p>16.1 The Company will not be liable for any breach of contract due to any matter or thing beyond the Company’s control (including but not limited to transport stoppages, transport breakdown, fire, flood, earthquake, acts of God, strikes, lock-outs, work stoppages, wars, riots or civil commotion, intervention or public authority, explosion or accident.</p>
    <p class="mt2 bold">17. Waiver of Breach</p>
    <p>17.1 No failure by the Company to insist on strict performance of any of these Terms is a waiver of any right or remedy which the Company may have, and is not a waiver of any subsequent breach or default by the Customer.</p>
    <p class="mt2 bold">18. No Assignment</p>
    <p>18.1 Neither the Contract, nor any rights under the Contract may be assigned by the Customer without the prior written consent of the Company, which is at the Company’s absolute discretion.</p>
    <p class="mt2 bold">19. Severability</p>
    <p>19.1 If any provision contained in these Terms is held by a court to be unlawful, invalid or unenforceable, the validity and enforceability of the remaining provisions are not affected.</p>
    <p class="mt2 bold">20. Governing Law</p>
    <p>20.1 These Terms and the Contract shall be governed by the law of New South Wales and the parties submit to the courts of New South Wales in respect of any dispute arising</p>
  </div>
</section>
