<%= partial "nav" %>

<header class="flex flex-column justify-center" style="background-image: url(/images/kitchen.jpg); height: 60vh">
  <div class="mx-auto px2" style="max-width: 64em; width: 100%">
    <h2 class="extra-bold" style="font-size: 3rem">Growing plants, made easy.</h2>
    <h3>aTree by Applant</h3>
  </div>
</header>
