<%= partial "nav", locals: { url: "/vertical_farming" } %>

<header class="flex flex-column justify-center bg-cover" style="background-image: url(/images/vertical_farming.jpg); height: 60vh">
  <div class="mx-auto px2" style="max-width: 64em; width: 100%">
    <h2 class="extra-bold" style="font-size: 3rem">So what is vertical farming?</h2>
    <h3 class="col-12 md-col-8">Everything you need to know about the growing technique that produces professional harvests.</h3>
  </div>
</header>

<section class="bg-white color-black p4">
  <div class="col-12 mx-auto flex flex-wrap items-center" style="max-width: 64em">
    <div class="col-12 md-col-6 mb3 md-m0 pr4">
      <h3 class="color-green extra-bold mb2">What is vertical gardening?</h3>
      <p>
        Once limited to the rocket scientist over at NASA, vertical growing is a technique that stacks plants vertically on top of each other to maximise space. Due to advancements in lighting technologies, urban farmers have adopted vertical farming tech- niques to grow more in climate controlled environments like within buildings. Growing produce all year round in any climate.
      </p>
    </div>
    <div class="col-10 sm-col-6 bg-green square mx-auto">
    </div>
  </div>
</section>

<section class="bg-green color-white p4">
  <div class="col-12 mx-auto center" style="max-width: 64em">
    <h3 class="extra-bold mb3">Benefits of growing with aTree</h3>
    <div class="flex flex-wrap justify-between">
      <div class="col-8 sm-col-4 md-col-2 mx-auto p2">
        <p class="bold h5 nowrap mb3">Space saver</p>
        <div class="col-12 bg-white square">
        </div>
        <p class="left-align mt2 h5">
          aTree uses vertical space to grow plants in a maximising plant production upwards.
        </p>
      </div>
      <div class="col-8 sm-col-4 md-col-2 mx-auto p2">
        <p class="bold h5 nowrap mb3">Locally grown</p>
        <div class="col-12 bg-white square">
        </div>
        <p class="left-align mt2 h5">
          When growing locally, crops are picked at their peak of ripeness versus being harvested early in order to be shipped and distributed.
        </p>
      </div>
      <div class="col-8 sm-col-4 md-col-2 mx-auto p2">
        <p class="bold h5 nowrap mb3">Bigger yields</p>
        <div class="col-12 bg-white square">
        </div>
        <p class="left-align mt2 h5">
          Plants receive all necessary nutrients to be healthier with shorter growth cycles.
        </p>
      </div>
      <div class="col-8 sm-col-4 md-col-2 mx-auto p2">
        <p class="bold h5 nowrap mb3">Water efficiency</p>
        <div class="col-12 bg-white square">
        </div>
        <p class="left-align mt2 h5">
          aTree uses 95% less water than traditional field farming. The water is instead efficiently delivered and then recycled.
        </p>
      </div>
      <div class="col-8 sm-col-4 md-col-2 mx-auto p2">
        <p class="bold h5 nowrap mb3">Broken food system</p>
        <div class="col-12 bg-white square">
        </div>
        <p class="left-align mt2 h5">
          30% of the world’s food is wasted due to transportation, ‘ugly’ crops or simply uneaten.
        </p>
      </div>
    </div>
  </div>
</section>
